body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 1400px;
    margin: auto;
    color: #4a4949;
}



h1 {
    margin-bottom: 20px;
    text-align: center;
}

#mainContainer {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#bottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#leftPortion, #rightPortion {
    width: 100%; /* Make both portions take full width */
    display: flex;
    flex-direction: column;
    margin-top: 20px; /* Add margin to create space between portions */
}

#displayBox,#rules{
    border: 1px solid #f3f1f1;
    padding: 20px;
    width: 100%;
    overflow-y: display;
    box-sizing: border-box;
}

#typingArea {
    text-align: center;
}

#textToType {
    font-size: 50px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.arrow {
    font-size: 40px;
}

.finger {
    font-size: 16px;
    color: grey;
    margin-top: 5px;
}

#characterBox {
    border: 2px solid #000;
    padding: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#characterBox span {
    font-size: 50px;
}

.flash-red {
    background-color: red;
    transition: background-color 0.3s ease;
}

.feedback {
    margin-top: 20px;
    font-size: 18px;
}

.feedback i.material-icons {
    vertical-align: middle;
    margin-right: 5px;
}

.hidden {
    display: none;
}
#keySelection {
    justify-content: left;
    padding: 20px;
    border: #f3f1f1 1px solid;
    margin-bottom: 20px;
}

#finalResults {
    margin-top: 20px;
    text-align: center;
}

#finalResults i.material-icons {
    vertical-align: middle;
    margin-right: 5px;
}

#divider {
    width: 2px;
    background-color: #ccc;
    height: auto;
    margin: 0 20px;
}



#rules {
    text-align: left;
}

#rules h2 {
    text-align: center;
    margin-bottom: 10px;
}

#rules ul {
    list-style-type: none;
    padding-left: 0;
}

#rules ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

#rules ul li i.material-icons {
    margin-right: 10px;
}

#rules ul ul {
    list-style-type: none;
    padding-left: 30px;
}

#rules ul ul li {
    display: flex;
    align-items: center;
}

#rules ul ul li i.material-icons {
    margin-right: 5px;
}
/* Flex container for buttons */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between buttons */
    margin: 20px auto;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button i.material-icons {
    vertical-align: middle;
    margin-right: 5px;
}

#toggleOptionsButton {
    float: right;
    padding: 0;
    border: 0;
    background-color: white;

}
/* Keyboard styling */


.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.key {
    width: 40px;
    height: 40px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 16px;
    cursor: pointer;
}

.key.pressed {
    background-color: #d0d0d0;
}
.key.highlight {
    background-color: #a09f9f;
}
.key.spacebar {
    width: 220px;
    margin-left: -40px;
}
/* Options container styles */
#keyBoardArea {
    background-color: #fff;
    border: 1px solid #edebeb;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure child elements are contained within the border */
}

#optionsContainer h2 {
    margin-top: 0;
}
#optionsContainer .keyrows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    margin-left: 50px;
}

#optionsContainer .keyrows:nth-child(odd) {
    float: left;
}

#optionsContainer .keyrows:nth-child(even) {
    float: right;
}
#optionsContainer label {
    display: block;
    margin: 10px 0 5px;
}

#optionsContainer input[type="text"] {
    width: calc(30% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#optionsContainer button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0;
}

#optionsContainer button:hover {
    background-color: #155422;
}