body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 1400px;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

#mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#leftPortion {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#incorrectPane {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    height: 150px;
    overflow-y: auto;
}

#incorrectPane h3 {
    margin-top: 0;
    text-align: center;
}


#typingArea {
    text-align: center;
}

#textToType {
    font-size: 50px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.arrow {
    font-size: 40px;
}

.finger {
    font-size: 16px;
    color: grey;
    margin-top: 5px;
}

#characterBox {
    border: 2px solid #000;
    padding: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#characterBox span {
    font-size: 50px;
}

.flash-red {
    background-color: red;
    transition: background-color 0.3s ease;
}

.feedback {
    margin-top: 20px;
    font-size: 18px;
}

.feedback i.material-icons {
    vertical-align: middle;
    margin-right: 5px;
}

.hidden {
    display: none;
}
#keySelection {
    justify-content: center;
    padding: 20px;
    border: #ded9d9 1px solid;
}

#finalResults {
    margin-top: 20px;
    text-align: center;
}

#finalResults i.material-icons {
    vertical-align: middle;
    margin-right: 5px;
}

#divider {
    width: 2px;
    background-color: #ccc;
    height: auto;
    margin: 0 20px;
}

#rightPortion {
    width: 50%;
    margin-left: 20px;
    text-align: right;
    padding-left: 20px;
    border-left: #ccc 1px solid;
}

#rules {
    text-align: left;
}

#rules h2 {
    text-align: center;
    margin-bottom: 10px;
}

#rules ul {
    list-style-type: none;
    padding-left: 0;
}

#rules ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

#rules ul li i.material-icons {
    margin-right: 10px;
}

#rules ul ul {
    list-style-type: none;
    padding-left: 30px;
}

#rules ul ul li {
    display: flex;
    align-items: center;
}

#rules ul ul li i.material-icons {
    margin-right: 5px;
}

button#restartButton {
    font-size: 16px;
    padding: 10px 20px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

button#restartButton i.material-icons {
    vertical-align: middle;
    margin-right: 5px;
}
